:global {
  .infinite-list-container {
    position: relative;
    width: 40vw;
    height: 80vh;
    margin: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #ccc;
  }

  .infinite-list-phantom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }

  .infinite-list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .infinite-list-item {
    border-bottom: 1px solid #999;
  }
}